
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_CorporateCustomerLayout.cshtml";
}

<br />
<h1 style="text-align: center; color: #191970">Şifre Değiştirme Sayfası</h1>
<br />
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("ChangePassword", "CorporateCustomer", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="exampleInputName1">Yeni Şifre</label>
                    @*@Html.TextBox("password", new { @class = "form-control", @placeholder = "Mağaza Adı" })*@
                    <input name="password" class="form-control" placeholder="Şifre" type="password" />
                </div>
                <br />
                <label style="color:firebrick;font-weight:bold">@ViewBag.message</label>
                <br />
                <br />
                <div class="form-group">
                    <label for="exampleInputEmail3">Yeni Şifre Tekrarı</label>
                    @*@Html.TextBox("passwordRepeat", new { @class = "form-control", @placeholder = "Web Sitesi" })*@
                    <input name="passwordRepeat" class="form-control" placeholder="Şifre Tekrarı" type="password" />
                </div>
                <br />
                <div style="text-align:center">
                    <button class="btn btn-outline-success">Şifreyi Güncelle</button>
                </div>
            }
        </div>
    </div>
</div>



