@using Business.Concrete
@using Business.Abstract
@using DataAccess.Concrete.Repository.EntityFramework


@{
    Layout = null;
    IUserService _userService = new UserManager(new EfUserDal());
    ICorporateAccountService _corporateAccountService = new CorporateAccountManager(new EfCorporateAccountDal());
    var userInfo = _userService.GetByEmail((string)Session["Email"]);
    var corporateAccountInfo = _corporateAccountService.GetByUserId(userInfo.UserId);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UT Mağaza Paneli</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="/CorporateCustomer/GetCorporateCustomerDetails" class="d-block">@corporateAccountInfo.CorporateName</a>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/CorporateCustomer/Home/" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Ana Sayfa
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">Sipariş İşlemleri</li>
                        <li class="nav-item">
                            <a href="/CorporateCustomer/GetAllOrder/" class="nav-link">
                                <i class="nav-icon fas fa-shopping-basket"></i>
                                <p>
                                    Siparişler
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">Ürün İşlemleri</li>
                        <li class="nav-item">
                            <a href="/CorporateCustomer/GetProductsByCorporateCustomer" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    Ürünlerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/CorporateCustomer/AddProduct/" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Ürün Ekle
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/CorporateCustomer/GetCommentByCorporateCustomer/" class="nav-link">
                                <i class="nav-icon far fa-comment"></i>
                                <p>
                                    Yorumlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">Hesap İşlemleri</li>
                        <li class="nav-item">
                            <a href="/CorporateCustomer/ProfileDetails" class="nav-link">
                                <i class="nav-icon fas fa-user-alt"></i>
                                <p>
                                    Profilim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/CorporateCustomer/EditProfile/" class="nav-link">
                                <i class="nav-icon fas fa-user-alt"></i>
                                <p>
                                    Profili Güncelle
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/CorporateCustomer/ChangePassword/" class="nav-link">
                                <i class="nav-icon fas fa-lock"></i>
                                <p>
                                    Parolayı Değiştir
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">Diğer İşlemler</li>
                        <li class="nav-item">
                            <a href="/Product/GetAll/" class="nav-link">
                                <i class="nav-icon fas fa-address-card"></i>
                                <p>
                                    Kullanıcı Paneline Dön
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Auth/LogOut/" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>
                                    Çıkış Yap
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <!-- jQuery -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/moment/moment.min.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Themes/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Themes/AdminLTE-3.0.4/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Themes/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>