@using Entity.Concrete;
@model Brand

@{
    ViewBag.Title = "AddBrand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddBrand", "Admin", FormMethod.Post))
{
    <div class="container">
        <br />
        <br />
        <h1 style="text-align: center; color: #191970">MARKA EKLEME SAYFASI</h1>
        <br />
        <br />
        <div class="row">
            <div class="col-md-2">
                @Html.Label("Marka İsmi : ", new { @style = "font-weight:bold;font-size:larger" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.BrandName, new {@class ="form-control",@placeholder="Marka ismini giriniz" })
                <br />
            </div>
            <button type="submit" class="btn btn-success" style="margin:auto;margin-top:1em">Markayı Ekle</button>
        </div>
    </div>
}

